[data-indicator^="mpietrucha-nova-fields"]
    > div:first-child:has(> label span.text-red-500)
    + div
    div[data-repeater-id][data-indicator^="mpietrucha-nova-fields"]:first-of-type
    [dusk="row-delete-button"] {
    display: none !important;
}

div:has(> [dusk$="-repeater-row"]) + div {
    margin-top: 1rem !important;
}

div[dusk$="-repeater-row"]
    > div:last-of-type
    > div
    > div:first-of-type
    > div:last-of-type {
    width: 100%;
}

div[dusk$="-repeater-row"][data-indicator="mpietrucha-nova-fields-media-collection"]
    > div:last-of-type
    > div
    > div:first-of-type
    > div:first-of-type {
    display: none;
}
